{
  "presets": [["env", {
    "modules": false,
    "useBuiltIns": true,
    "targets": {
      "browsers": "> 1%, Last 2 versions",
      "uglify": true
    }
  }], "react"],
  "plugins": [
    "styled-jsx/babel",
    "ramda",
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
