@import "tailwindcss";

@import "./style/theme.css";

@custom-variant dark (&:is(.dark *));

/* https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}

	:root {
		@apply cursor-default bg-surface-0 text-[14px] leading-[1.2] text-emphasis-400 select-none;
	}

	*,
	*::before,
	*::after {
		user-select: inherit;
	}

	*:focus:not(:focus-visible),
	*:active:not(:focus-visible) {
		@apply outline-0;
	}

	*:focus-visible {
		@apply outline-1 outline-semantic-focus;
	}
}
