.root {
  position: relative;
  width: 100%;
  height: 100%;
}

.handleContainer {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 2;
  cursor: ew-resize;
  width: 10px;
  transform: translateX(-5px);
}

.handle {
  position: relative;
  height: 100%;
  width: 100%;
}

.handleLine {
  position: absolute;
  height: 100%;
  width: 1px;
  left: 50%;
  background-color: #000;
}

.handleTag {
  position: absolute;
  height: 10px;
  width: 50%;
  top: 0;
  background-color: #000;
}

.regionsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.activeRegion,
.inactiveRegion {
  position: absolute;
  top: 0;
  bottom: 0;
}

.activeRegion {
  cursor: move;
}

.inactiveRegion {
  background-color: color(#fff a(0.8));
}
