/* all rgb */

:root {
	--color-surface0: 255 255 255;
	--color-text100: 232 232 232;
	--color-text400: 34 34 34;
	--color-text600: 0 0 0;
	--color-semanticError: 236 103 100;
	--color-semanticFocus: 34 34 34;
}

.dark {
	--color-surface0: 16 16 16;
	--color-text100: 25 85 85;
	--color-text400: 200 200 200;
	--color-text600: 255 255 255;
	--color-semanticError: 236 103 100;
	--color-semanticFocus: 200 200 200;
}
