.root {
  display: flex;
  flex-wrap: no-wrap;
}

.gainSliderContainer {
  width: 20px;
  height: 100px;
  margin-left: 1em;
}

.waveContainer {
  position: relative;
  width: 600px;
  height: 100px;
}

.waveFormContainer,
.loopRegionContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.waveFormContainer {
  z-index: 1;
}

.loopRegionContainer {
  z-index: 2;
}
