@import 'css-reset/reset.css';

:global(html) {
  box-sizing: border-box;
  user-select: none;
  font-size: 14px;
}

:global(*),
:global(*::before),
:global(*::after) {
  box-sizing: inherit;
  user-select: inherit;
}

:global(html),
:global(body) {
  width: 100%;
}

:global(body) {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
