name: Test and lint

on: [push]

jobs:
  test-lint:
    name: Test and lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: pnpm test
      - run: pnpm lint
